# Tidak Menggunakan Atribut Tanggal

In [1]:
# Import library yang diperlukan
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from datetime import datetime
import numpy as np
import os

In [2]:
# Misalkan Anda memiliki DataFrame bernama df_donor dan df_permintaan
df_donor = pd.read_csv('donor.csv')
df_permintaan = pd.read_csv('permintaan.csv')

In [3]:
df_donor.head()

           id_donor  usia         jk golda  jumlah     tanggal
0   1371DGAFS000001    53  Perempuan    AB       1  22-08-2023
1   1371DGNAD000143    26  Perempuan     O       1  01-04-2021
2  1371DG1Lin000007    31  Laki-laki     B      25  15-02-2020
3  1371DG1Lin000007    31  Laki-laki     B      26  13-06-2020
4  1371DG1Lin000007    31  Laki-laki     B      27  17-02-2022

In [4]:
df_permintaan.head()

             instansi     tanggal komponen golda  jumlah
0  RSU. DR. M. Djamil  02-01-2020       WE     O       2
1  RSU. DR. M. Djamil  14-08-2020       TC     O       3
2  RSU. DR. M. Djamil  26-10-2020      PRC     A       1
3  RSU. DR. M. Djamil  12-01-2021      PRC    AB       1
4  RSU. DR. M. Djamil  13-03-2021       WB     O       2

In [5]:
# Preprocessing data
# Ubah data kategorikal menjadi numerik menggunakan pd.get_dummies atau metode lainnya
# Ubah atribut jenis kelamin
df_donor['jk'] = df_donor['jk'].map({'Laki-laki': 1, 'Perempuan': 0})

# Ubah atribut golongan darah
df_donor['golda'] = df_donor['golda'].map({'A': 1, 'B': 2, 'AB': 3, 'O': 4})

# Hapus data yang bernilai kosong atau missing value pada atribut golda
df_donor = df_donor.dropna(subset=['golda'])

# Hapus data yang bernilai selain 1, 2, 3, dan 4 pada atribut golda
df_donor = df_donor[df_donor['golda'].isin([1, 2, 3, 4])]

# Ubah atribut komponen menjadi integer dengan sequence
df_permintaan['komponen'], uniques = pd.factorize(df_permintaan['komponen'])

# Ubah atribut golongan darah
df_permintaan['golda'] = df_permintaan['golda'].map({'A': 1, 'B': 2, 'AB': 3, 'O': 4})

# Hapus data yang bernilai kosong atau missing value pada atribut golda
df_permintaan = df_permintaan.dropna(subset=['golda'])

# Hapus data yang bernilai selain 1, 2, 3, dan 4 pada atribut golda
df_permintaan = df_permintaan[df_permintaan['golda'].isin([1, 2, 3, 4])]

# Ubah atribut komponen menjadi integer dengan sequence
df_permintaan['instansi'], uniques = pd.factorize(df_permintaan['instansi'])

# Ubah atribut komponen menjadi integer dengan sequence
df_donor['id_donor'], uniques = pd.factorize(df_donor['id_donor'])



# Hapus atribut tanggal
df_donor = df_donor.drop('tanggal', axis=1)
df_permintaan = df_permintaan.drop('tanggal', axis=1)

In [6]:
df_donor.head()

   id_donor  usia  jk  golda  jumlah
0         0    53   0      3       1
1         1    26   0      4       1
2         2    31   1      2      25
3         2    31   1      2      26
4         2    31   1      2      27

In [7]:
df_permintaan.head()

   instansi  komponen  golda  jumlah
0         0         0      4       2
1         0         1      4       3
2         0         2      1       1
3         0         2      3       1
4         0         3      4       2

In [8]:
# Pisahkan data menjadi fitur (X) dan target (y)
X_donor = df_donor.drop('jumlah', axis=1)
y_donor = df_donor['jumlah']
X_permintaan = df_permintaan.drop('jumlah', axis=1)
y_permintaan = df_permintaan['jumlah']

In [9]:
# Bagi data menjadi data latih dan data uji
X_train_donor, X_test_donor, y_train_donor, y_test_donor = train_test_split(X_donor, y_donor, test_size=0.2, random_state=42)
X_train_permintaan, X_test_permintaan, y_train_permintaan, y_test_permintaan = train_test_split(X_permintaan, y_permintaan, test_size=0.2, random_state=42)

In [10]:
# Buat model regresi linear
model_donor = LinearRegression()
model_permintaan = LinearRegression()

In [15]:
# Latih model dengan data latih
model_donor.fit(X_train_donor, y_train_donor)
model_permintaan.fit(X_train_permintaan, y_train_permintaan)
LinearRegression()

LinearRegression()

In [12]:
# Prediksi data uji
y_pred_donor = model_donor.predict(X_test_donor)
y_pred_permintaan = model_permintaan.predict(X_test_permintaan)

In [13]:
# Evaluasi model dengan menghitung RMSE
rmse_donor = mean_squared_error(y_test_donor, y_pred_donor, squared=False)
rmse_permintaan = mean_squared_error(y_test_permintaan, y_pred_permintaan, squared=False)

In [14]:
# Cetak hasil evaluasi
print(f'RMSE model prediksi donor: {rmse_donor}')
print(f'RMSE model prediksi permintaan: {rmse_permintaan}')

RMSE model prediksi donor: 17.43842609390573
RMSE model prediksi permintaan: 2.268352828927249